.about {
  height: 90vh;
  display: flex;
  align-items: center;
}
.about-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  /* border: 1px solid #000; */
}
.about-container .img-container {
  flex-basis: 45%;
  /* border: 1px solid #000; */
}
.about-container .img-container img {
  width: 100%;
  height: 450px;
  border-radius: 5px;
  object-fit: cover;
  display: block;
}
.about-container .about-content {
  flex-basis: 45%;
  padding: 40px 0;
  /* border: 1px solid #000; */
}
.about-content h1 {
  font-size: 40px;
  margin-bottom: 8px;
}
.about-content .p-about {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1.6;
}
.about-content ul {
  margin-bottom: 30px;
}
.about-content ul li {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
.about-content ul li p {
  font-size: 15px;
  color: #03040a;
}
.about-content ul li i {
  margin-right: 10px;
  font-size: 13px;
  /* color: #37a820; */
  color: #F0A920;
}
.btn-about {
  color: #03040a;
  background: #fff;
  border: 2px solid #dddddd;
  transition: 0.3s all ease-in-out;
}
.btn-about:hover {
  color: #fff;
  /* background: #2b4eff; */
  background: #F0A920;
  /* border: 2px solid #2b4eff; */
  border: 2px solid #F0A920;
  /* box-shadow: 1px 1px 10px 0 #2b4eff; */
  box-shadow: 1px 1px 10px 0 #F0A920;
}
